.Grid {
	background: $light-grey;

	&-inner {
		width: 1140px;
		margin: 0 auto;
		padding-top: 80px;

		@media screen and (max-width: $desktop-bp) {
			width: 100%;
		}
	}

	&-title {
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 1px;
		padding-bottom: 50px;
		text-align: center;
		text-transform: uppercase;

		&--highlight {
			background: $black;
			color: $white;
			padding: 10px;
		}
	}

	&-container {
		&:after {
			content: "";
			clear: both;
			display: block;
		}
	}

	&-item {
		width: 360px;
		height: 500px;
		padding-bottom: 32px;
		padding-right: 32px;
		float: left;
		cursor: pointer;

		@media screen and (max-width: $desktop-bp) {
			body .Grid .Grid-block & {
				width: 48%;
				margin: 1%;
				padding: 0;
				height: auto;
			}
		}

		.Grid-block &:nth-child(2){
			width: 747px;
			padding-right: 0px;
		}

		.Grid-block &:nth-child(3){
			width: 555px;
			height: 400px;
		}

		.Grid-block &:nth-child(4){
			width: 553px;
			height: 832px;
			padding-right: 0px;
		}

		.Grid-block &:nth-child(5){
			width: 555px;
			height: 400px;
		}

		&-inner {
			background: #fff;
			width: 100%;
			height: 100%;
			vertical-align: middle;

			img {
				max-width: 100%;
				max-height: 100%;
				position: relative;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
		}
	}

	&-btn {
		&-container {
			text-align: center;
			height: 40px;
		}
	}
}