.Header {
	transition: $animation-300;
	-webkit-transition: $animation-300;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	@media screen and (max-width: $desktop-bp) {
		position: fixed;
	}

	&-inner {
		width: 1140px;
		margin: 0 auto;
		padding: 40px 0px;
		position: relative;

		@media screen and (max-width: $desktop-bp) {
			width: 100%;
			padding: 40px 1%;
		}
	}

	&-logo {
		max-width: 100%;
		width: 250px;
		display: inline-block;
		transition: $animation-300;
		-webkit-transition: $animation-300;
		cursor: pointer;

		@media screen and (max-width: $desktop-bp) {
			display: block;
			margin: 5% auto;
		}
	}

	&-nav {
		display: inline-block;
		min-height: 40px;
		vertical-align: top;
		position: absolute;
		right: 0;

		@media screen and (max-width: $desktop-bp) {
			position: static;

			.Btn {
				margin-left: 0px;
			}
		}
	}

	.sticky &{
		background: $black;
		
		z-index: 3;

		.Btn {
			color: $white;

			&:hover {
				span {
					color: $black;
				}
			}
		}
	}
}